<template>
  <div>
    <cw-nav-bar/>
    <div class="cw-admin-container">
      <ul class="cw-admin-list">
        <p class="cw-admin-title">Админка</p>
        <li><a class="cw-admin-list-item" href="/admin/users">Пользователи</a></li>
        <li><a class="cw-admin-list-item" href="/admin/products">Товары</a></li>
      </ul>
    </div>
    <cw-footer/>
  </div>
</template>

<script>
export default {
  name: 'Admin'
}
</script>

<style>
  @import "../../assets/css/admin.css";
</style>
