<template>
  <div>
    <cw-nav-bar/>
    <div id="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="/admin">Админка</a></li>
          <li>Пользователи</li>
        </ul>
      </div>
      <!-- / container -->
    </div>
    <!-- / body -->

    <div class="cw-admin-container">
      <div class="cw-admin-list">
        <p class="cw-admin-title">Пользователи</p>
        <input v-model="email" class="cw-admin-text-input" placeholder="E-mail пользователя" type="email"/>
        <button @click="search()" class="cw-admin-submit-btn">Найти</button>
        <div v-if="showInfo" class="cw-admin-user-info cw-border-form">
          <p>ID: {{id}}</p>
          <label>Имя</label>
          <input disabled v-model="name" class="cw-admin-text-input" placeholder="Имя" type="text"/>
          <label>Фамилия</label>
          <input disabled v-model="surname" class="cw-admin-text-input" placeholder="Фамилия" type="text"/>
          <p>Права:</p>
          <div v-bind:id="authority.authority + '_' + authority.id" v-bind:key="authority.authority + '_' + authority.id" v-for="authority in authorities">
            <p @click="removeAuthority(authority)" class="cw-admin-right-name">{{authority.authority}}
              <button  class="bg-transparent border-0"><i class="far fa-times-circle"></i></button>
            </p>
          </div>
          <p>Добавить права:</p>
          <div v-if="(existAuthorities.length !== 0)">
            <div v-bind:id="'exist_' + existAuthority.authority + '_' + existAuthority.id" v-bind:key="'exist_' + existAuthority.authority + '_' + existAuthority.id" v-for="existAuthority in existAuthorities">
              <p @click="addAuthority(existAuthority)" class="cw-admin-right-name">{{existAuthority.authority}}
                <button class="bg-transparent border-0"><i class="fas fa-plus"></i></button>
              </p>
            </div>
          </div>
          <p v-else class="text-center w-75">Нет доступных прав для добавления</p>
        </div>
      </div>
    </div>
    <div id="body">
      <div class="container d-flex justify-content-center">
        <div id="content" class="full">
          <div class="cart-table">
            <table>
              <tr>
                <th class="total">E-mail</th>
                <th class="total">Имя</th>
                <th class="total">Фамилия</th>
                <th class="total">Подтверждение</th>
                <th class="total">Права</th>
                <th class="delete">-</th>
              </tr>
              <tr v-bind:key="'user_' + user.id" v-for="user in users">
                <td class="total">{{user.email}}  </td>
                <td class="total">
                  {{user.name}}
                </td>
                <td class="total">{{user.surname}}</td>
                <td class="total">{{user.confirmed}}</td>
                <td class="total">
                  <div v-bind:key="'user_id' + authority.id" v-for="authority in user.authorities">{{authority.authority}}</div>
                </td>
                <td class="delete"><button @click="removeUser(user.id)" class="cw-user-remove">Удалить<i class="fas fa-trash"></i></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <cw-footer/>
  </div>
</template>

<script>
import axios from 'axios'
import AlertSystem from '@/components/AlertSystem'

export default {
  name: 'AdminUsers',
  data: () => ({
    existAuthorities: [],
    showInfo: false,
    email: '',
    id: -1,
    name: '',
    surname: '',
    authorities: [],
    users: []
  }),
  mounted: function () {
    axios.get(window.hostname + '/users/all')
      .then(response => {
        this.users = response.data
      })
      .catch(error => {
        console.log(error)
        AlertSystem.showError('Неудалось получить пользователей')
      })
  },
  methods: {
    search: function () {
      axios.get(window.hostname + '/users/get?email=' + this.email)
        .then(response => {
          this.id = response.data.id
          this.name = response.data.name
          this.surname = response.data.surname
          this.authorities = response.data.authorities

          axios.get(window.hostname + '/users/authorities')
            .then(response => {
              this.existAuthorities = response.data

              for (let i = 0; i < this.authorities.length; i++) {
                for (let j = 0; j < this.existAuthorities.length; j++) {
                  if (this.authorities[i].id === this.existAuthorities[j].id) {
                    this.existAuthorities.splice(j, 1)
                  }
                }
              }
              console.log(this.existAuthorities.length !== 0)
            }).catch(err => {
              AlertSystem.showError('Не удалось получить доступные права: ' + err.response.data.message)
            })

          this.showInfo = true
        })
        .catch(err => {
          if (err.response.status === 406) {
            AlertSystem.showError(err.response.data.message)
          }
          this.showInfo = false
        })
    },
    removeAuthority: function (authority) {
      axios.post(window.hostname + '/users/authorities/remove/' + this.id + '/' + authority.id)
        .then(() => {
          for (let i = 0; i < this.authorities.length; i++) {
            if (this.authorities[i].id === authority.id) {
              this.authorities.splice(i, 1)
              this.existAuthorities.push(authority)
              return
            }
          }
        })
        .catch(err => {
          console.log(err)
          AlertSystem.showError('Не удалось:' + err.response.data.message)
        })
    },
    addAuthority: function (authority) {
      axios.post(window.hostname + '/users/authorities/add/' + this.id + '/' + authority.id)
        .then(() => {
          for (let i = 0; i < this.existAuthorities.length; i++) {
            if (this.existAuthorities[i].id === authority.id) {
              this.existAuthorities.splice(i, 1)
              this.authorities.push(authority)
              return
            }
          }
        })
        .catch(err => {
          AlertSystem.showError('Не удалось:' + err.response.data.message)
        })
    },
    removeUser: function (id) {
      axios.post(window.hostname + '/users/delete/' + id)
        .then(() => {
          AlertSystem.showSuccess('Пользователь удален.')
          for (let i = 0; i < this.users.length; i++) {
            if (this.users[i].id === id) {
              this.users.splice(i, 1)
            }
          }
          this.getTotalSum()
        })
        .catch(error => {
          AlertSystem.showError('Не удалось удалить пользователя.\nОшибка: ' + error.response.data.message)
        })
    }
  }
}
</script>

<style>
  @import "../../assets/css/admin.css";
  @import "../../assets/css/style.css";
</style>
