div.cw-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cw-admin-user-info {
  align-items: center;
  display: flex;
  color: black;
  flex-direction: column;
  margin-top: 10pt;
  width: 350pt;
}

div.cw-admin-product-container {
  border: solid rgba(0, 0, 0, 0.75);
  border-radius: 8pt;
  display: flex;
  margin: 16pt;
  padding: 10pt;
  position: relative;
  width: 75%;
}

div.cw-admin-product-img-form {
  align-items: center;
  border: solid black;
  border-radius: 4pt;
  display: flex;
  flex-direction: column;
  padding: 6pt;
  position: relative;
}

div.cw-admin-product-from {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.cw-admin-products-list {
  align-items: center;
  border: solid black;
  border-radius: 6pt;
  display: flex;
  flex-direction: column;
  margin-bottom: 10pt;
  padding: 6pt;
  position: relative;
  width: 50%;
}

div.cw-admin-products-list-item {
  border: solid black;
  border-radius: 3pt;
  display: flex;
  margin-bottom: 3pt;
  width: 100%;
}

div.cw-admin-products-list-item p {
  word-break: break-all;
}

div.cw-admin-products-list-item a {
  color: black;
}

div.cw-admin-products-list-item a:hover {
  text-decoration: none;
}

div.cw-admin-product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.cw-admin-product-price {
  display: flex;
  justify-content: center;
}

textarea.cw-admin-text-area {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 8pt;
  padding: 6pt;
  resize: none;
  width: 80%;
}

textarea.cw-admin-text-area:focus {
  border: solid rgba(0, 0, 0, 1);
}

input.cw-admin-text-input {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 6pt;
  padding: 4pt;
  margin: 6pt;
  font-size: 12pt;
  width: 250px;
}

p.cw-admin-right-name {
  font-size: 12pt;
}

p.cw-admin-right-name:hover {
  text-shadow:  1px 1px 2px black, 0 0 1em black;
}

p.cw-admin-product-name, p.cw-admin-product-description, p.cw-admin-product-price {
  color: black;
  text-align: center;
}

p.cw-admin-product-name {
  border-bottom: solid black;
}

input.cw-admin-text-input:focus {
  border: solid rgba(0, 0, 0, 0.85);
}

button.cw-admin-submit-btn {
  background: transparent;
  border: solid rgba(0, 0, 0, 0.75);
  border-radius: 5pt;
  font-size: 12pt;
  margin-top: 5pt;
  padding: 4pt;
  min-width: 100px;
}

button.cw-admin-submit-btn:hover {
  background: black;
  color: white;
}

button.cw-admin-delete-product {
  border: solid;
  border-radius: 3pt;
  padding: 4pt 10pt;
  position: relative;
  margin-bottom: 3pt;
}

button.cw-admin-submit-btn:disabled {
  background: gray;
  color: white;
}

button.cw-user-remove {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
  margin: 5pt;
  padding: 3pt;
}

button.cw-user-remove:hover {
  border: solid rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.25);
}

button.cw-user-remove:active {
  color: red;
  border: solid rgb(1, 0, 0);
  background: rgba(1, 0, 0, 1);
}

img.cw-admin-product-img-upload {
  border: solid #a5b0d6;
  height: 100pt;
  margin-top: 8pt;
  padding: 2pt;
  width: 100pt;
}

img.cw-admin-product-img {
  border: solid #a5b0d6;
  height: 100pt;
  padding: 2pt;
  width: 100pt;
}

.cw-admin-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5pt;
  margin-bottom: 10pt;
}

.cw-admin-list-item {
  font-size: 14pt;
}

.cw-admin-list-item:hover {
  color: black;
  text-decoration: none;
}

.cw-admin-title {
  font-size: 18pt;
  margin-bottom: 10pt;
  margin-top: 10pt;
  text-align: center;
}

.cw-admin-product-img-btn {
  background: transparent;
  border: none;
  border-bottom: solid black;
  font-size: 14pt;
}

.cw-admin-product-img-btn:hover {
  color: black;
  text-decoration: none;
  text-shadow:  1px 1px 2px black, 0 0 1em black;
}

@media screen and (max-width: 760px) {
  div.cw-admin-products-list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4pt;
  }
}

@media screen and (max-width: 720px){
  .cw-admin-title {
    font-size: 14pt;
    margin-bottom: 6pt;
    margin-top: 6pt;
  }
  .cw-admin-list-item {
    font-size: 12pt;
  }

  input.cw-admin-text-input {
    border-radius: 4pt;
    padding: 3pt;
    margin: 4pt;
    font-size: 10pt;
    width: 150px;
  }

  button.cw-admin-submit-btn {
    background: transparent;
    border: solid rgba(0, 0, 0, 0.75);
    border-radius: 4pt;
    font-size: 10pt;
    margin-top: 5pt;
    padding: 3pt;
    min-width: 75px;
  }

  div.cw-admin-user-info {
    margin-top: 6pt;
    width: 200pt;
  }

  div.cw-admin-product-img-form {
    width: 90%;
  }

  .vue-image-crop-upload .vicp-wrap {
    color: yellow;
  }

  p.cw-admin-right-name {
    font-size: 10pt;
  }

  textarea.cw-admin-text-area {
    width: 85%;
    height: 100px;
  }

  .cw-admin-product-img-btn {
    font-size: 12pt;
    word-break: break-all;
  }

  img.cw-admin-product-img-upload {
    height: 75pt;
    margin-top: 6pt;
    width: 75pt;
  }

  img.cw-admin-product-img {
    height: 75pt;
    width: 75pt;
  }
}
