div.cw-card-info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

div.cw-card-info label, input {
  height: 20pt;
  margin: 3pt 0;
}

div.cw-card-info input {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 3pt;
  width: 200pt;
}


div.cw-card-info input:focus {
  border: solid rgba(0, 0, 0, 0.85);
  border-radius: 3pt;
}

div.cw-card-info .cw-card-myc-info {
  display: flex;
  justify-content: space-around;
  margin: 20pt;
}

div.cw-card-info .cw-card-myc-info #card-code, #card-month, #card-year {
  width: 50pt;
}

div.cw-card-info .cw-card-myc-info label, input {
  margin: 0 5pt;
}

button.cw-card-remove {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
  margin: 5pt;
  padding: 3pt;
}

button.cw-card-remove:hover {
  border: solid rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.25);
}

button.cw-card-remove:active {
  color: red;
  border: solid rgb(1, 0, 0);
  background: rgba(1, 0, 0, 1);
}

@media screen and (max-width: 440px){
  div.cw-card-info input {
    width: 80%;
  }

  div.cw-card-info .cw-card-myc-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20pt;
  }

  div.cw-card-info .cw-card-myc-info label {
    margin: 2pt 0;
  }
}
