a.cw-login-reg-link {
  margin-top: 10pt;
}
div.cw-login-reg-container {
  display: flex;
  justify-content: center;
}
div.cw-login-reg-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20pt;
  margin-top: 10pt;
  width: 25%;
}

.cw-login-reg-elem {
  height: 25pt;
  margin-top: 4pt;
  width: 100%;
}

input.cw-input {
  border: solid rgba(0, 0, 0, 0.5);
  border-radius: 6pt;
  font-size: 12pt;
  padding: 3pt;
}
input.cw-input:focus {
  border-color: rgba(0, 0, 0, 0.75);
}

p.cw-login-reg-header {
  font-size: 18pt;
}

button.cw-btn-login {
  background: transparent;
  border: solid;
  border-radius: 5pt;
  font-size: 12pt;
  margin-top: 15pt;
  padding: 5pt;
  min-width: 100pt;
}

button.cw-btn-login:hover {
  background: black;
  color: white;
}

button.cw-btn-login:active {
  background: gray;
  color: white;
}

button.cw-btn-login:disabled {
  background: gray;
  color: white;
}

@media screen and (max-width: 720px){
  p.cw-login-reg-header {
    font-size: 14pt;
  }
  div.cw-login-reg-form {
    align-items: center;
    display: flex;
    font-size: 10pt;
    flex-direction: column;
    margin-bottom: 15pt;
    margin-top: 10pt;
    width: 50%;
  }

  button.cw-btn-login {
    background: transparent;
    width: 75pt;
  }
}
