button.cw-product-pager {
  background: transparent;
  border: 1px solid;
  height: 25pt;
  margin: 1px;
  width: 25pt;
}

button.cw-product-pager:disabled {
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

button.cw-counter-btn {
  color: rgba(0, 0, 0, 0.65);
}

button.cw-counter-btn:hover {
  color: black;
}

button.cw-counter-btn:active {
  color: black;
}

button.cw-counter-btn.cw-plus:active {
  text-shadow:  1px 1px 2px black, 0 0 1em green;
}

button.cw-counter-btn.cw-minus:active {
  text-shadow:  1px 1px 2px black, 0 0 1em red;
}

button.cw-counter-btn:disabled {
  color: gray;
  text-shadow:  1px 1px 2px black, 0 0 1em orangered;
}
