<template>
    <div>
      <cw-nav-bar/>

      <div id="breadcrumbs">
        <div class="container">
          <ul>
            <li><a href="/">Главная</a></li>
            <li>О компании</li>
          </ul>
        </div>
        <!-- / container -->
      </div>
      <!-- / body -->

      <div id="body">
        <div class="container">
          <div id="content" class="full">
            <h1>Интернет-магазин Jewelry – удобный способ покупать онлайн!</h1>
            <div class="entry">
              <p>Представьте, что вы открываете врата в сокровищницу древних королей. Куда ни посмотри, всюду аккуратно разложены драгоценности удивительной красоты. Блестят и переливаются всеми оттенками радуги бриллианты, изумруды, жемчуга, золото, платина и многое другое. Присмотритесь внимательнее, и вы поймете, что попали в царство доступной роскоши – в каталог ювелирных изделий сети магазинов «Jewelry», где изумительным драгоценностям не видно конца. Здесь представлено более 17 тысяч всевозможных шедевров ювелирного искусства высшего качества.</p>
              <h2>О каталоге ювелирного магазина Jewelry – это надо знать </h2>
              <p>Для вашего удобства наш ювелирный каталог оснащен удобным навигатором, который значительно облегчает выбор и поиск интересующего товара. Благодаря кнопкам в верхней строчке экрана вы можете отсортировать изделия, чтобы посмотреть самые популярные из них или интереснейшие новинки. Там же удобно выставить критерий цены. В левой части экрана представлены более подробные фильтры, которые помогут выбрать производителя и вид ювелирных изделий в «Jewelry», например, кольцо с драгоценным камнем или гладкий браслет без вставок. Также можно выставить пробу металла.</p>
            </div>

          </div>
          <!-- / content -->
        </div>
        <!-- / container -->
      </div>
      <!-- / body -->

      <cw-footer/>
    </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>

</style>
