<script>
import axios from 'axios'
import App from '@/App'
import AlertSystem from '@/components/AlertSystem'

let authorities = {
  user: 'USER',
  admin: 'ADMIN'
}

export default {
  name: 'Authentication',
  data: () => ({
    authorities: {
      user: 'USER',
      admin: 'ADMIN'
    }
  }),
  methods: {
    authorize: function (func) {
      let user = {
        email: '',
        authorities: [],
        name: '',
        surname: ''
      }
      let token = App.$cookie.get('token')
      if (token !== null) {
        axios.defaults.headers.common['Authorization'] = token
        axios.get(window.hostname + '/users/me')
          .then(response => {
            App.$cookie.set('authorized', true)
            user.authorities = response.data.authorities
            localStorage.setItem('authorities', JSON.stringify(user.authorities))
            user.email = response.data.email
            if (this.authorizedAs(authorities.user)) {
              user.name = response.data.username
              user.surname = response.data.surname
            }
            localStorage.setItem('email', user.email)
          }).catch(error => {
            console.log(error)
            localStorage.setItem('authorities', JSON.stringify(user.authorities))
            localStorage.setItem('email', user.email)

            if (error.toString().localeCompare('Error: Network Error') === 0) {
              AlertSystem.showError('Сервер недоступен. Приносим извинения за предоставленные неудобства.')
            }
          }).finally(() => {
            func(user)
          })
      } else {
        if (func !== undefined) {
          func(user)
        }
        localStorage.clear()
        App.$cookie.delete('authorized')
      }
    },
    hasAuthority: function (authority, func) {
      let result
      if (authority !== null && authority !== undefined) {
        axios.get(window.hostname + '/users/me', {
          headers: {
            Authorization: App.$cookie.get('token')
          }
        })
          .then(response => {
            if (authority === 'ANONYMOUS') {
              result = false
            } else if (authority !== 'AUTHENTICATED') {
              let authorities = response.data.authorities
              localStorage.setItem('authorities', JSON.stringify(authorities))
              if (authorities !== null && authorities !== undefined) {
                result = false
                for (let i = 0; i < authorities.length; i++) {
                  if (authority === authorities[i].authority) {
                    result = true
                  }
                }
              }
            } else {
              result = true
            }
          }).catch(() => {
            result = (authority === 'ANONYMOUS')
            localStorage.removeItem('authorities')
            localStorage.removeItem('email')
            App.$cookie.delete('authorized')
          }).finally(() => {
            func(result)
          })
      } else {
        func(true)
      }
    },
    authorizedAs: function (authority) {
      let _authoritites = localStorage.getItem('authorities')
      if (_authoritites === null || _authoritites === undefined || _authoritites === '') {
        return false
      }
      let authorities = JSON.parse(_authoritites)
      if (authorities !== null && authorities !== undefined) {
        for (let i = 0; i < authorities.length; i++) {
          if (authority === authorities[i].authority) {
            return true
          }
        }
        return false
      }
      return false
    },
    authorized: function (context) {
      let authorized = context.$cookie.get('authorized')
      if (authorized === null || authorized === undefined) {
        authorized = false
      }
      return authorized
    },
    logout: function (context) {
      context.$cookie.delete('token')
      context.$cookie.delete('authorized')
      localStorage.clear()
    }
  }
}
</script>

<style scoped>

</style>
