<template>
  <div></div>
</template>

<script>
import Vue from 'vue'
import Authentication from '@/components/Authentication'

Vue.component('cw-footer', {
  name: 'Footer',
  template: '<footer id="footer">\n' +
    '      <div class="container">\n' +
    '        <div class="cols">\n' +
    '          <div class="col media">\n' +
    '            <h3>Смотрите также</h3>\n' +
    '            <ul class="social">\n' +
    '              <li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>\n' +
    '              <li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>\n' +
    '              <li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>\n' +
    '              <li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>\n' +
    '            </ul>\n' +
    '          </div>\n' +
    '          <div class="col contact">\n' +
    '            <h3>Наши контакты</h3>\n' +
    '            <p>Jewelry INC.<br>54233 Avenue Street<br>New York</p>\n' +
    '            <p><span class="ico ico-em"></span><a href="#">contact@jewelry.com</a></p>\n' +
    '            <p><span class="ico ico-ph"></span>(987) 654 321 098</p>\n' +
    '          </div>\n' +
    '        </div>\n' +
    '        <p class="copy">Copyright 2019 Jewelry. All rights reserved.</p>\n' +
    '      </div>\n' +
    '    </footer>\n'
})

Vue.component('cw-nav-bar', {
  name: 'NavBar',
  data: () => ({
    loggedIn: false,
    triggerOpen: false
  }),
  mounted: function () {
    Authentication.methods.authorize(() => {
      this.loggedIn = this.$cookie.get('authorized')
      if (this.loggedIn === null || this.loggedIn === undefined) {
        this.loggedIn = false
      }
    })
  },
  methods: {
    logout: function () {
      Authentication.methods.logout(this)
      location.reload()
    },
    triggerOffOn: function () {
      if (this.triggerOpen) {
        let trigger = document.getElementById('cw-trigger')
        trigger.setAttribute('class', 'trigger')
        let ul = document.getElementById('cw-trigger-list')
        ul.setAttribute('class', '')
        this.triggerOpen = false
      } else {
        let trigger = document.getElementById('cw-trigger')
        trigger.setAttribute('class', 'trigger active')
        let ul = document.getElementById('cw-trigger-list')
        ul.setAttribute('class', 'active')
        this.triggerOpen = true
      }
    }
  },
  template: '<div><header id="header">\n' +
    '      <div class="container">\n' +
    '        <a href="/" id="logo" title="Diana’s jewelry">Jewelry</a>\n' +
    '        <div class="right-links">\n' +
    '          <ul>\n' +
    '            <li v-if="loggedIn"><a  href="/cart"><span class="ico-products"></span>КОРЗИНА</a></li>\n' +
    '            <li v-if="!loggedIn"><a href="/login"><span class="ico-signout"></span>ВОЙТИ</a></li>\n' +
    '            <li v-if="loggedIn"><span class="ico-signout"></span><button @click="logout()" class="cw-logout-btn">ВЫЙТИ</button></li>\n' +
    '          </ul>\n' +
    '        </div>\n' +
    '      </div>\n' +
    '    </header>\n' +
    '\n' +
    '    <nav id="menu">\n' +
    '      <div class="container">\n' +
    '        <div @click="triggerOffOn" id="cw-trigger" class="trigger"></div>\n' +
    '        <ul id="cw-trigger-list">\n' +
    '          <li><a href="/">ГЛАВНАЯ</a></li>\n' +
    '          <li><a href="/products">КАТАЛОГ</a></li>\n' +
    '          <li><a v-if="loggedIn" href="/orders">ПОКУПКИ</a></li>\n' +
    '          <li><a href="/about">О КОМПАНИИ</a></li>\n' +
    '          <li><a href="/contacts">КОНТАКТЫ</a></li>\n' +
    '        </ul>\n' +
    '      </div>\n' +
    '    </nav></div>\n'})

export default {
  name: 'Base'
}
</script>

<style scoped>

</style>
