<template>
    <div>
      <cw-nav-bar/>

      <div id="breadcrumbs">
        <div class="container">
          <ul>
            <li><a href="/">Главная</a></li>
            <li>Корзина</li>
          </ul>
        </div>
        <!-- / container -->
      </div>
      <!-- / body -->

      <div id="body">
        <div class="container">
          <div id="content" class="full">
            <div class="cart-table">
              <div class="d-flex justify-content-center" v-if="!(products.length > 0) && state.localeCompare('LOADING') !== 0">
                <div class="d-flex flex-direction-column align-item-center">
                  <p>В корзине пусто!</p>
                  <p><a href="/products">Перейти к каталогу</a></p>
                </div>
              </div>
              <table v-else-if="state.localeCompare('LOADING') !== 0">
                <tr>
                  <th class="items">ТОВАР</th>
                  <th class="price">ЦЕНА</th>
                  <th class="qnt">КОЛИЧЕСТВО</th>
                  <th class="total">СУММА</th>
                  <th class="delete"></th>
                </tr>
                <tr v-bind:key="'product' + product.id" v-for="product in products">
                  <td class="items">
                    <div class="image">
                      <a :href="'/product/' + product.id"><img style="height: 112px; width: 112px;" :src="product.imgURI" alt=""></a>
                    </div>
                    <h3><a style="text-transform: uppercase" :href="'/product/' + product.id">{{product.name}}</a></h3>
                    <p>{{product.description}}</p>
                  </td>
                  <td class="price">{{product.price}} руб.</td>
                  <td class="qnt">
                    <div class="d-flex justify-content-center">
                      <button :disabled="product.count === 100" @click="plusCount(product)" id="cw-counter-plus" class="bg-transparent border-0 cw-counter-btn cw-plus"><i class="fas fa-plus-circle"></i></button>
                      <p class="m-1">
                        {{product.count}}
                      </p>
                      <button :disabled="product.count === 1" @click="minusCount(product)" id="cw-counter-minus" class="bg-transparent border-0 cw-counter-btn cw-minus"><i class="fas fa-minus-circle"></i></button>
                    </div>
                  </td>
                  <td class="total">{{product.count * product.price}} руб.</td>
                  <td class="delete"><button @click="removeFromCart(product)" class="cw-card-remove">Удалить<i class="fas fa-trash"></i></button></td>
                </tr>
              </table>
              <div class="d-flex justify-content-center" v-else>
                <sync-loader/>
              </div>
            </div>

            <div v-if="products.length > 0" class="total-count">
              <h3 style="padding-bottom: 10pt">Итоговая сумма: <strong>{{totalSum}} руб.</strong></h3>
              <div class="cw-card-info">
                <label for="card-number">Адрес доставки</label>
                <input placeholder="г.Москва, Тверской, Красная площадь, 1" v-model="address" id="address" minlength="5" maxlength="150" type="text"/>
                <label for="card-number">Номер карты</label>
                <input placeholder="1234567891234567" v-model="cardNumber" @keypress="allowNumbersOnly($event)" id="card-number" minlength="16" maxlength="16" type="text"/>
                <label for="card-owner">Держатель</label>
                <input placeholder="IVAN IVANOV" v-model="owner" id="card-owner" minlength="3" maxlength="64" style="text-transform:uppercase" type="text"/>
                <div class="cw-card-myc-info">
                  <label for="card-code">Код</label>
                  <input placeholder="123" v-model="code" @keypress="allowNumbersOnly($event)" id="card-code" minlength="3" maxlength="3" style="text-transform:uppercase" type="text"/>
                  <label for="card-month">Месяц</label>
                  <input placeholder="1" v-model="month" @keypress="allowNumbersOnly($event)" id="card-month" minlength="1" maxlength="2" style="text-transform:uppercase" type="text"/>
                  <label for="card-year">Год</label>
                  <input placeholder="2000" v-model="year" @keypress="allowNumbersOnly($event)" id="card-year" minlength="4" maxlength="4" style="text-transform:uppercase" type="text"/>
                </div>
                <button id="push_button" @click="pushPayment" class="btn-grey border-0 bg" >ОПЛАТИТЬ</button>
              </div>
            </div>

          </div>
          <!-- / content -->
        </div>
        <!-- / container -->
      </div>
      <!-- / body -->

      <cw-footer/>
    </div>
</template>

<script>
import axios from 'axios'
import AlertSystem from '@/components/AlertSystem'
import {SyncLoader} from '@saeris/vue-spinners'

export default {

  name: 'Cart',
  components: {
    SyncLoader
  },
  data: () => ({
    products: [],
    totalSum: 0,
    cardNumber: '',
    owner: '',
    code: '',
    month: '',
    year: '',
    address: '',
    state: 'LOADING'
  }),
  mounted: function () {
    axios
      .get(window.hostname + '/product/cart/all')
      .then(response => {
        this.products = response.data
        this.getTotalSum()
      })
      .catch(err => {
        console.log('error: ' + err)
      }).finally(() => {
        this.state = 'SHOW'
      })
  },
  methods: {
    submit_button_block: function (state) {
      let button = document.getElementById('push_button')
      button.disabled = state
    },
    allowNumbersOnly: function (e) {
      let code = (e.which) ? e.which : e.keyCode
      if (code > 31 && (code < 48 || code > 57)) {
        e.preventDefault()
      }
    },
    plusCount: function (product) {
      if (product.count < 100) {
        product.count++
        this.updateCount(product, () => {
          product.count--
        })
      }
    },
    minusCount: function (product) {
      if (product.count > 1) {
        product.count--
        this.updateCount(product, () => {
          product.count++
        })
      }
    },
    updateCount: function (product, func) {
      axios
        .post(window.hostname + '/product/cart/update/' + product.id + '/' + product.count)
        .then(() => {
          this.getTotalSum()
        })
        .catch(err => {
          console.log(err)
          func()
        })
    },
    removeFromCart: function (product) {
      axios
        .post(window.hostname + '/product/cart/remove/' + product.id)
        .then(() => {
          for (let i = 0; i < this.products.length; i++) {
            if (this.products[i].id === product.id) {
              this.products.splice(i, 1)
            }
          }
          this.getTotalSum()
        })
        .catch(err => {
          console.log(err)
        })
    },
    getTotalSum: function () {
      this.totalSum = 0
      this.products.forEach((product) => {
        this.totalSum += product.count * product.price
      })
    },
    pushPayment: function () {
      if (!(this.products.length > 0)) {
        return
      }
      if (this.month < 1 || this.month > 12) {
        AlertSystem.showError('Введите месяц в интвервале 1-12')
        return
      }
      if (this.year < 2019) {
        AlertSystem.showError('Введите год не ранее 2019')
        return
      }

      this.submit_button_block(true)
      axios
        .post(window.hostname + '/product/cart/payment', {
          cardNumber: this.cardNumber,
          owner: this.owner,
          code: this.code,
          month: this.month,
          year: this.year,
          products: this.products,
          address: this.address
        })
        .then(() => {
          this.submit_button_block(false)
          console.log('Успешно')
          AlertSystem.showSuccess('')
          this.products = []
        })
        .catch(error => {
          this.submit_button_block(false)
          console.log(error.response.data)
          if (error.toString().localeCompare('Error: Network Error') === 0) {
            AlertSystem.showError('Сервер недоступен. Приносим извинения за предоставленные неудобства.')
          } else if (error.response.status === 406) {
            AlertSystem.showError(error.response.data.message)
          } else {
            let errorMessages = ''
            for (let i = 0; i < error.response.data.errorMessages.length; i++) {
              errorMessages += ' - ' + error.response.data.errorMessages[i] + '\n'
            }
            AlertSystem.showError(errorMessages)
          }
        })
    }
  }
}
</script>

<style>
  @import "../assets/css/products.css";
  @import "../assets/css/style.css";
  @import "../assets/css/cart.css";
</style>
