<template>
  <div>
    <cw-nav-bar/>

    <div id="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="/">Главная</a></li>
          <li>Наши контакты</li>
        </ul>
      </div>
      <!-- / container -->
    </div>
    <!-- / body -->

    <div id="body">
      <div class="container">
        <div id="content" class="full">
          <div class="entry">
            <h2>Наши контакты </h2>
            <ol>
              <li>Вы можете нам позвонить <i class="fas fa-phone"></i>: (987) 654 321 098</li>
              <li>Мы во вконтакте - <a href="http://vk.com"><i class="fab fa-vk"></i></a></li>
              <li>Мы в фейсбук - <a href="http://facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li>Вы также можете оставить нам сообщение - <i class="fas fa-comments"></i> нажав кнопку обратной связи.</li>
            </ol>
          </div>

        </div>
        <!-- / content -->
      </div>
      <!-- / container -->
    </div>

    <cw-footer/>
  </div>
</template>

<script>
export default {
  name: 'Contacts'
}
</script>

<style>
@import "../assets/css/style.css";
</style>
