<template>
  <div>
    <cw-nav-bar/>

    <div class="cw-login-reg-container">
      <div class="cw-login-reg-form">
        <p class="cw-login-reg-header">Войти</p>
        <label class="cw-login-reg-elem" for="cw-email-input" >E-mail</label>
        <input v-model="email" class="cw-input cw-login-reg-elem" id="cw-email-input" type="email"/>
        <label class="cw-login-reg-elem" for="cw-password-input" >Пароль</label>
        <input v-model="password" class="cw-input cw-login-reg-elem" id="cw-password-input" type="password"/>
        <div class="d-flex w-100 mt-1"><a href="/profile/reset">Забыли пароль?</a></div>
        <button id="submit_button" @click="send_form()" class="cw-btn-login">Войти</button>
        <a href="/registration" class="cw-login-reg-link">Регистрация</a>
      </div>
    </div>

    <cw-footer/>
  </div>
</template>

<script>
import axios from 'axios'
import Authentication from '@/components/Authentication'
import AlertSystem from '@/components/AlertSystem'

export default {
  name: 'Login',
  data: () => ({
    email: '',
    password: ''
  }),
  methods: {
    submit_button_block: function (state) {
      let button = document.getElementById('submit_button')
      button.disabled = state
    },
    send_form: function () {
      this.submit_button_block(true)
      axios
        .post(window.hostname + '/users/sign_in', {
          email: this.email,
          password: this.password})
        .then(response => {
          this.$cookie.set('authorized', 'true', { expires: '1h' })
          this.$cookie.set('token', 'Bearer ' + response.data.token, { expires: '1h' })
          axios.defaults.headers.common['Authorization'] = this.$cookie.get('token')
          Authentication.methods.authorize(() => { document.location.href = '/' })
        }).catch(error => {
          this.submit_button_block(false)
          console.log(error)
          this.submit_button_block(false)
          if (error.toString().localeCompare('Error: Network Error') === 0) {
            AlertSystem.showError('Сервер недоступен. Приносим извинения за предоставленные неудобства.')
          } else if (error.response.status === 406) {
            AlertSystem.showError(error.response.data.message)
          } else {
            let errorMessages = ''
            for (let i = 0; i < error.response.data.errorMessages.length; i++) {
              errorMessages += ' - ' + error.response.data.errorMessages[i] + '\n'
            }
            AlertSystem.showError(errorMessages)
          }
        })
    }
  }
}
</script>

<style>
  @import "../assets/css/login_registration.css";
</style>
