<template>
    <div>
      <cw-nav-bar/>

      <div id="breadcrumbs">
        <div class="container">
          <ul>
            <li><a href="/">Главная</a></li>
            <li>Покупки</li>
          </ul>
        </div>
        <!-- / container -->
      </div>
      <!-- / body -->

      <div id="body">
        <div class="container">
          <div id="content" class="full">
            <div class="cart-table">
              <div class="d-flex justify-content-center" v-if="!(orders.length > 0)">
                <div class="d-flex flex-direction-column align-item-center">
                  <p>Покупок еще не было!</p>
                  <p><a href="/products">Перейти к каталогу</a></p>
                </div>
              </div>
              <table v-else>
                <tr>
                  <th class="total">№</th>
                  <th class="price">ТОВАРЫ</th>
                  <th class="price">Адрес</th>
                  <th class="total">СУММА</th>
                </tr>
                <tr v-bind:key="'order_' + order.id" v-for="order in orders">
                  <td class="total">{{order.id}}  </td>
                  <td class="items">
                    <div class="d-flex flex-direction-column align-item-center">
                      <a v-bind:key="order.id + '_' + product.productId" v-for="product in order.products" :href="'/product/' + product.productId">{{product.name + ' x ' + product.count + ' (' + product.totalSum + ' руб.)'}}</a>
                    </div>
                  </td>
                  <td class="price">{{order.address}}</td>
                  <td class="price">{{getTotalSum(order)}} руб.</td>
                </tr>
              </table>
            </div>

          </div>
          <!-- / content -->
        </div>
        <!-- / container -->
      </div>
      <!-- / body -->

      <cw-footer/>
    </div>
</template>

<script>
import axios from 'axios'

export default {

  name: 'Orders',
  data: () => ({
    orders: []
  }),
  mounted: function () {
    axios
      .get(window.hostname + '/product/orders')
      .then(response => {
        this.orders = response.data
      })
      .catch(err => {
        console.log('error: ' + err)
      })
  },
  methods: {
    getTotalSum: function (order) {
      let sum = 0
      for (let i = 0; i < order.products.length; i++) {
        sum += order.products[i].totalSum
      }
      return sum
    }
  }
}
</script>

<style>
  @import "../assets/css/products.css";
  @import "../assets/css/style.css";
  @import "../assets/css/cart.css";
</style>
