<template>
    <div>
      <cw-nav-bar/>

      <div id="body">
        <div class="container">
          <div id="content" class="full" style="text-align: center">
            <h1>PAGE NOT FOUND 404</h1>
            <div class="entry">
              <p>Извините, но страница не найдена</p>
              <a href="/">Перейти на главную страницу</a>
            </div>
          </div>
        </div>
      </div>
      <cw-footer/>
    </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style>
</style>
