<template>
   <div>
     <cw-nav-bar/>

     <div id="breadcrumbs">
       <div class="container">
         <ul>
           <li><a href="/">Главная</a></li>
           <li><a href="/products">Товары</a></li>
           <li>{{product.name}}</li>
         </ul>
       </div>
       <!-- / container -->
     </div>
     <!-- / body -->

     <div class="d-flex justify-content-center p-3" v-if="status === 'LOADING'">
       <div class="d-flex flex-direction-column align-item-center">
         <pulse-loader/>
       </div>
     </div>
     <div class="d-flex justify-content-center p-3" v-else-if="status === 'ERROR'">
       <div class="d-flex flex-direction-column align-items-center">
         <p>Такой товар не найден</p>
         <a class="text-center" href="/products">Перейти к каталогу</a>
       </div>
     </div>
     <div v-else id="body">
       <div class="container">
         <div id="content" class="full">
           <div class="product">
             <div class="image">
               <img :src="product.imgFullURI" alt="">
             </div>
             <div class="details">
               <h1>{{product.name}}</h1>
               <h4>{{product.price}} руб.</h4>
               <div class="entry">
                 <p style="white-space: pre-line;">{{product.description}}</p>
               </div>
               <div class="actions">
                 <div class="d-flex flex-direction-column align-items-center">
                   <label for="product-count">Количество:</label>
                   <input id="product-count" min="1" max="100" v-model="count" type="number"/>
                   <button @click="addToCart" class="btn-grey mt-3" style="font-size: 10pt;">Добавить в корзину</button>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- / content -->
       </div>
       <!-- / container -->
     </div>
     <!-- / body -->

     <cw-footer/>
   </div>
</template>

<script>
import axios from 'axios'
import { PulseLoader } from '@saeris/vue-spinners'

export default {
  name: 'Product',
  data: () => ({
    product: Object,
    count: 1,
    status: 'LOADING'
  }),
  components: {
    PulseLoader
  },
  mounted: function () {
    axios
      .get(window.hostname + '/product/get/' + this.$route.params.id)
      .then(response => {
        this.product = response.data
        document.title = this.product.name
        this.status = 'OK'
      })
      .catch(() => {
        this.status = 'ERROR'
      })
  },
  methods: {
    addToCart: function () {
      axios
        .post(window.hostname + '/product/cart/add/' + this.$route.params.id + '/' + this.count)
        .then(() => {
          console.log('Успешно')
          document.location = '/cart'
        })
        .catch(err => {
          if (err.response.data.status === 403) {
            document.location = '/login'
          }
          console.log(err.response.data)
        })
    }
  }
}
</script>

<style>
</style>
