<template>
  <div>
    <cw-nav-bar/>

    <div id="breadcrumbs">
      <div class="container">
        <ul>
          <li><a href="/">Главная</a></li>
          <li>Товары</li>
        </ul>
      </div>
      <!-- / container -->
    </div>
    <!-- / body -->

    <div v-if="updateProducts" id="loading-ico" style="z-index: 10">
      <moon-loader/>
    </div>

    <div id="body">
      <div v-if="!loading" class="container">
        <div class="products-wrap">
          <aside id="sidebar" class="cw-product-properties-sidebar">
            <div class="widget">
              <h3 style="font-size: 14pt">Сортировать по:</h3>
              <fieldset>
                <div class="d-flex flex-direction-column">
                  <div>
                    <input checked @click="sortByDate" name="sort_type" id="sort_date" type="radio">
                    <label for="sort_date">Дате</label>
                  </div>
                  <div>
                    <input @click="sortByPrice" name="sort_type" id="sort_price" type="radio">
                    <label for="sort_price">Цене</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button @click="reverseProducts" class="cw-btn-sbm">Показать в обратом порядке</button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="widget">
              <h3>Стоимость:</h3>
              <label style="color: white" for="min_price">Минимальная цена</label>
              <input class="cw-price-input" id="min_price" @keyup="removeNullsOfMin" v-model="minChPrice" min="0" :max="maxChPrice" type="number"/>
              <label style="color: white" for="max_price">Максимальная цена</label>
              <input class="cw-price-input" id="max_price" @keyup="removeNullsOfMax" v-model="maxChPrice" :min="minChPrice" :max="10000000" type="number"/>
            </div>
            <div class="d-flex justify-content-center">
              <button id="cw-update-products-btn" @click="updateProduct()" class="cw-btn-sbm">Обновить</button>
            </div>
          </aside>
          <div v-if="(products.length > 0)" id="content">
            <section class="products">
              <article v-bind:key="product.id" v-for="product in productsForShowing">
                <a :href="'/product/' + product.id"><img :src="product.imgURI" alt=""></a>
                <h3><a style="text-transform: uppercase;" :href="'/product/' + product.id">{{product.name}}</a></h3>
                <h4><a :href="'/product/' + product.id">{{product.price}} руб.</a></h4>
              </article>
            </section>
          </div>
          <div v-else>
            <div class="d-flex justify-content-center">
              <ol>
                <li>Причины почему вы ничего не <u>видите</u>:</li>
                <li>По указанному фильтру ничго не найдено.</li>
                <li>Каталог находится на стадии обработки или сервер не доступен.</li>
              </ol>
            </div>
          </div>
          <!-- / content -->
        </div>
        <div class="pagination">
          <ul>
            <li><button :disabled="(page - 1) <= 0" class="cw-product-pager" @click="showProducts(page - 1)"><span class="ico-prev"></span></button></li>
            <li><button class="cw-product-pager" @click="showProducts(page - 2)" v-if="(page - 2) > 0">{{page - 2}}</button></li>
            <li><button class="cw-product-pager" @click="showProducts(page - 1)" v-if="(page - 1) > 0">{{page - 1}}</button></li>
            <li><button disabled class="cw-product-pager">{{page}}</button></li>
            <li><button class="cw-product-pager" @click="showProducts(page + 1)" v-if="(page + 1) <= pageCount">{{page + 1}}</button></li>
            <li><button class="cw-product-pager" @click="showProducts(page + 2)" v-if="(page + 2) <= pageCount">{{page + 2}}</button></li>
            <li><button :disabled="(page + 1) > pageCount" class="cw-product-pager" @click="showProducts(page + 1)"><span class="ico-next"></span></button></li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-center" v-else-if="loading">
        <div class="d-flex flex-direction-column align-item-center">
          <grid-loader/>
        </div>
      </div>
      <!-- / container -->
    </div>
    <!-- / body -->
    <cw-footer/>
  </div>
</template>

<script>
import Base from '@/components/Base'
import axios from 'axios'
import { GridLoader, MoonLoader } from '@saeris/vue-spinners'

export default {
  name: 'Products',
  components: {
    Base,
    GridLoader,
    MoonLoader
  },
  data: () => ({
    products: [],
    productsForShowing: [],
    page: 1,
    productsPerPage: 4,
    pageCount: 1,
    byPrice: false,
    loading: true,
    minChPrice: 0,
    maxChPrice: 1000000,
    updateProducts: false
  }),
  mounted: function () {
    this.getProducts()
  },
  methods: {
    reverseProducts: function () {
      this.products = this.products.reverse()
      this.page = 1
      this.showProducts(this.page)
    },
    sortByDate: function () {
      this.byPrice = false
      this.updateProduct()
    },
    sortByPrice: function () {
      this.byPrice = true
      this.updateProduct()
    },
    updateProduct: function () {
      this.updateProducts = true
      document.getElementById('cw-update-products-btn').disabled = true
      document.getElementById('sort_date').disabled = true
      document.getElementById('sort_price').disabled = true
      this.page = 1
      this.getProducts()
    },
    getProducts: function () {
      axios
        .get(window.hostname +
          '/product/all?byPrice=' + this.byPrice +
          '&minPrice=' + this.minChPrice +
          '&maxPrice=' + this.maxChPrice)
        .then(response => {
          this.products = response.data
          this.pageCount = Math.ceil(this.products.length / this.productsPerPage)
          this.showProducts(this.page)
          document.getElementById('cw-update-products-btn').disabled = false
        })
        .catch(err => {
          document.getElementById('cw-update-products-btn').disabled = false
          console.log(err)
        })
        .finally(() => {
          this.loading = false
          this.updateProducts = false
          document.getElementById('sort_date').disabled = false
          document.getElementById('sort_price').disabled = false
        })
    },
    showProducts: function (page) {
      if (!(this.products.length > 0)) {
        return
      }
      if (page === undefined) {
        page = 1
      }
      this.page = page
      let offset = this.productsPerPage * (page - 1)
      if (offset >= this.products.length) {
        document.location = '/404'
      } else {
        let count = this.products.length - offset
        if (count > this.productsPerPage) {
          count = this.productsPerPage
        }
        count += offset
        this.productsForShowing = this.products.slice(offset, count)
      }
    },
    removeNulls: function (number) {
      return parseInt(number.toString().replace(/^0{2,}/, ''))
    },
    removeNullsOfMin: function () {
      this.minChPrice = this.removeNulls(this.minChPrice)
    },
    removeNullsOfMax: function () {
      this.maxChPrice = this.removeNulls(this.maxChPrice)
    }
  }
}
</script>

<style>
  @import "../assets/css/products.css";
</style>
