<template>
  <div>
    <cw-nav-bar/>
    <div class="d-flex justify-content-center m-5">
      <div class="d-flex flex-column align-items-center">
        <div class="text-center">
          <hash-loader v-if="state === 'LOADING'">Подтверждение...</hash-loader>
          <p v-else-if="state === 'FAILED'">Подтверждение не удалось.</p>
          <p v-else-if="state === 'OK'">Код подтвержден, теперь вы можете войти. <a href="/login">Войти</a></p>
        </div>
      </div>
    </div>
    <cw-footer/>
  </div>
</template>

<script>
import axios from 'axios'
import { HashLoader } from '@saeris/vue-spinners'

export default {
  name: 'ProfileConfirm',
  data: () => ({
    state: 'LOADING'
  }),
  components: {
    HashLoader
  },
  mounted: function () {
    axios.post(window.hostname + '/users/confirm', {
      code: this.$route.params.code
    })
      .then(() => {
        this.state = 'OK'
      }).catch(error => {
        console.log('error: ' + error)
        this.state = 'FAILED'
      })
  }
}
</script>

<style scoped>

</style>
