<template>
  <div>
    <cw-nav-bar/>

    <div class="cw-login-reg-container">
      <div class="cw-login-reg-form">
        <p class="cw-login-reg-header">Регистрация</p>
        <label class="cw-login-reg-elem" for="cw-name-input" >Имя</label>
        <input v-model="name" class="cw-input cw-login-reg-elem" id="cw-name-input" type="text"/>
        <label class="cw-login-reg-elem" for="cw-surname-input" >Фамилия</label>
        <input v-model="surname" class="cw-input cw-login-reg-elem" id="cw-surname-input" type="text"/>
        <label class="cw-login-reg-elem" for="cw-email-input" >E-mail</label>
        <input v-model="email" class="cw-input cw-login-reg-elem" id="cw-email-input" type="email"/>
        <label class="cw-login-reg-elem" for="cw-password-input" >Пароль</label>
        <input v-model="password" class="cw-input cw-login-reg-elem" id="cw-password-input" type="password"/>
        <label class="cw-login-reg-elem" for="cw-repassword-input" >Повторите пароль</label>
        <input v-model="repeatPassword" class="cw-input cw-login-reg-elem" id="cw-repassword-input" type="password"/>
        <button id="submit_button" @click="send_form()" class="cw-btn-login">Зарегистрироваться</button>
        <a href="/login" class="cw-login-reg-link">Войти</a>
      </div>
    </div>

    <cw-footer/>
  </div>
</template>

<script>
import axios from 'axios'
import AlertSystem from '@/components/AlertSystem'

export default {
  name: 'Registration',
  data: () => ({
    email: '',
    name: '',
    surname: '',
    password: '',
    repeatPassword: ''
  }),
  methods: {
    submit_button_block: function (state) {
      let button = document.getElementById('submit_button')
      button.disabled = state
    },
    send_form: function () {
      if (this.password !== this.repeatPassword) {
        AlertSystem.showError('Пароли не совпадают')
        return
      }
      this.submit_button_block(true)
      axios
        .post(window.hostname + '/users/sign_up', {
          email: this.email,
          name: this.name,
          surname: this.surname,
          password: this.password})
        .then(() => {
          this.submit_button_block(false)
          alert('Регистрация прошла успешно, на вашу почту отправлено сообщение подтверждением!')
          this.$router.push('login')
        }).catch(error => {
          this.submit_button_block(false)
          if (error.toString().localeCompare('Error: Network Error') === 0) {
            AlertSystem.showError('Сервер недоступен. Приносим извинения за предоставленные неудобства.')
          } else if (error.response.status === 406) {
            AlertSystem.showError(error.response.data.message)
          } else {
            let errorMessages = ''
            for (let i = 0; i < error.response.data.errorMessages.length; i++) {
              errorMessages += ' - ' + error.response.data.errorMessages[i]
            }
            AlertSystem.showError(errorMessages)
          }
        })
    }
  }
}
</script>

<style>
  @import "../assets/css/login_registration.css";
</style>
