<template>
    <div>
      <cw-nav-bar/>

      <div class="cw-login-reg-container">
        <div class="cw-login-reg-form">
          <p class="cw-login-reg-header">Сброс пароля</p>
          <label class="cw-login-reg-elem" for="cw-password-input" >Введите новый пароль</label>
          <input v-model="password" class="cw-input cw-login-reg-elem" id="cw-password-input" type="password"/>
          <label class="cw-login-reg-elem" for="cw-repassword-input" >Повторите пароль</label>
          <input v-model="repassword" class="cw-input cw-login-reg-elem" id="cw-repassword-input" type="password"/>
          <button id="submit_button" @click="sendRequest()" class="cw-btn-login">Подтвердить</button>
          <a href="/login" class="cw-login-reg-link">Войти</a>
        </div>
      </div>

      <cw-footer/>
    </div>
</template>

<script>
import axios from 'axios'
import AlertSystem from '@/components/AlertSystem'

export default {
  name: 'ResetPasswordForm',
  data: () => ({
    password: '',
    repassword: ''
  }),
  methods: {
    sendRequest: function () {
      if (this.password !== this.repassword) {
        console.log('Пароли не совпадают')
        return
      }
      document.getElementById('submit_button').disabled = true
      axios
        .post(window.hostname + '/users/reset/password', {
          password: this.password,
          resetCode: this.$route.params.code
        })
        .then(() => {
          document.getElementById('submit_button').disabled = false
          alert('Пароль изменен!')
          document.location = '/login'
        }).catch(error => {
          document.getElementById('submit_button').disabled = false
          AlertSystem.showError(error.response.data.errorMessages[0])
          console.log(error.response.data.errorMessages[0])
        })
    }
  }
}
</script>

<style scoped>
  @import "../assets/css/login_registration.css";
</style>
