<template>
    <div>
      <cw-nav-bar/>

      <div class="cw-login-reg-container">
        <div class="cw-login-reg-form">
          <p class="cw-login-reg-header">Сброс пароля</p>
          <label class="cw-login-reg-elem" for="cw-email-input" >E-mail</label>
          <input v-model="email" class="cw-input cw-login-reg-elem" id="cw-email-input" type="email"/>
          <button id="submit_button" @click="sendRequest()" class="cw-btn-login">Запросить</button>
          <a href="/login" class="cw-login-reg-link">Войти</a>
        </div>
      </div>

      <cw-footer/>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ResetPassword',
  data: () => ({
    email: ''
  }),
  methods: {
    sendRequest: function () {
      document.getElementById('submit_button').disabled = true
      axios
        .post(window.hostname + '/users/reset/password/code', {email: this.email})
        .then(() => {
          document.getElementById('submit_button').disabled = false
          alert('Успешно! Проверьте почту.')
          document.location = '/login'
        }).catch(error => {
          document.getElementById('submit_button').disabled = false
          console.log(error.response.data.message)
        })
    }
  }
}
</script>

<style scoped>
  @import "../assets/css/login_registration.css";
</style>
