<template>
  <div>

    <cw-nav-bar/>
    <div id="slider">
      <ul>
        <li style="background-image: url(../../static/images/0.jpg)">
          <h3>Make your life better</h3>
          <h2>Genuine diamonds</h2>
        </li>
        <li class="purple" style="background-image: url(../../static/images/01.jpg)">
          <h3>She will say “yes”</h3>
          <h2>engagement ring</h2>
        </li>
        <li class="yellow" style="background-image: url(../../static/images/02.jpg)">
          <h3>You deserve to be beauty</h3>
          <h2>golden bracelets</h2>
        </li>
      </ul>
    </div>
    <!-- / body -->

    <cw-footer/>
  </div>
</template>

<script>
import Base from '@/components/Base'

export default {
  name: 'Welcome',
  components: {
    Base
  }
}
</script>

<style>
</style>
