<template>
  <div id="app">
    <div id="ec-info"></div>
    <router-view/>
  </div>
</template>

<script>
import Authentication from '@/components/Authentication'
import AlertSystem from '@/components/AlertSystem'
import axios from 'axios'

window.hostname = 'https://coursework-back.herokuapp.com'

export default {
  name: 'App',
  data: () => ({
    loading: false
  }),
  mounted: function () {
    axios
      .get(window.hostname + '/state/echo')
      .then(() => {
        Authentication.methods.authorize()
      })
      .catch(() => {
        AlertSystem.showError('Сервер недоступен. Приносим извинения за предоставленные неудобства.')
      })
  }
}
</script>

<style>
  @import "assets/css/style.css";
</style>
